@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	color: var(--black);
	background: linear-gradient(106.37deg,
			#d0ffd9 29.63%,
			#fffeeb 51.55%,
			#dcffe1 90.85%);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', sans-serif;
}

.AppGlass {
	display: grid;
	height: 95%;
	width: 97%;
	background: var(--glass);
	border-radius: 2rem;
	gap: 16px;
	grid-template-columns: 11rem auto 20rem;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}