.container {
  display: flex;
  width: 1450px;
  height: 700px;
}

.column15 {
  flex: 0 0 15%;
  width: 300px;
  border-radius: 20px 0px 0px 20px ;
  background-color: #cfffd7;
}

.column50 {
  flex: 0 0 50%;
  width: 700px;
  background-color: #c2f1ca;
}

.column20:last-child {
  flex: 0 0 15%;
  width: 200px;
  border-radius: 0px 20px 20px 0px ;
  background-color: #cfffd7;
}

.content {
  padding: 10px;
  border: 0px solid #ddd;
}

.UserManage {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 24px;
}
